@font-face {
    font-family: TT lakes;
    src: url(font/TT\ Lakes\ Neue\ Trial\ Regular.ttf);
    font-weight: 400;
}

* {
    font-family:TT lakes ;
    font-size: 16px;
    /* color: #7E7E82; */
}

body {
    /* margin-left: 20px; */
    margin: 0;
    background-color: #F8F8F8;
}

.repair__title {
        position: relative;
        padding-top: 16px; 
        background:linear-gradient(to right, #F8F8F8,#FFFFFF );
        height: 56px;
        padding-bottom: 16px;
        padding-left: 24px;
        box-sizing: border-box;
        color: #7E7E82;
      }
      
.repair__title::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color:#D9FFF5; 
      }

    .repair-list {
            display: grid;
            grid-template-columns: repeat(4 , 1fr);
            gap: 16px;
            width: 100%;
            /* box-sizing: border-box; */
            /* background-color: #FFFFFF; */
            color: #1B1C21;
            /* padding: 16px 24px; */
          }

    .repair-card {
        border: 1px solid #EAEAEA;
        background-color: #FFFFFF;
        width: 240px;
        height: 160px;
        box-sizing: border-box;
    }

    .repair-card__title {
     margin-left: 16px;
    }

    .repair-card__button {
      border: none;
      margin-top: 53.5px;
      margin-left: 184px;
      background-color: transparent;
      
    }

    .service-price__title {
        position: relative;
        padding-top: 16px; 
        background:linear-gradient(to right, #F8F8F8,#FFFFFF );
        height: 56px;
        padding-bottom: 16px;
        padding-left: 24px;
        box-sizing: border-box;
        color: #7E7E82;
    }

    .service-price__title::before {
      content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color:#D9FFF5; 
    }

    /* table {
      width: 100%;
      max-width: 1056px;
      height: auto;
      max-height: 324px;
      margin-left: 32px;
      border-right: 4px solid #EAEAEA ;

    } */
    .service-price__table {
      width: 100%;
      height: 324px;
      margin: 0 32px 0 32px;
      
    }
    

    .service-price__type {
      background-color: #FFFFFF;
      border-radius: 6px;
      /* border-right: 4px solid #EAEAEA ; */

    }

    .service-price__button {
      background-color: #FF3E79;
      border: none;
      color: #FFFFFF;
      border-radius: 16px;
      width: 119px;
      height: 32px;
      font-size: 12px;
      font-weight: 700;
      cursor: pointer;
      /* margin-right: 24px; */
    }

    .service-price__note {
      width: 421px;
      height: 60px;
      color: #1B1C21;
      font-size: 14px;
      font-weight: 400;
      margin-left: 32px;
    }

    .commercial-proposal {
      color: #1B1C21;
      width: 197px;
      height: 24px;
      margin-left: 32px;
    }

    .repair-swiper .swiper-slide {
      width: 240px;
    }

    .swiper2 {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 20px 0;
  }
  
  .swiper-wrapper {
      height: auto;
  }
  
  .swiper2 .swiper-slide {
    width: 240px;
    height: 160px;
  }

  .repair-toggle {
    border: none;
    background: transparent;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  
  /* same size for both icons */
  .toggle-icon {
    width: 24px;
    height: 24px;
  }

  .toggle-text {
    font-size: 16px;
    color: #1B1C21;
  }
  
  /* default: show-icon visible, hide-icon hidden */
  .toggle-icon--hide {
    display: none;
  }
  
  /* When expanded, hide SHOW icon and show HIDE icon */
  .repair-toggle.repair-toggle--expanded .toggle-icon--show {
    display: none;
  }
  
  .repair-toggle.repair-toggle--expanded .toggle-icon--hide {
    display: inline-block;
  }

  
    

    